<section class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <aboutdirective></aboutdirective>
                <br>
                <br>
                <skillsdirective></skillsdirective>
                <br>
                <br>
                <workdirective></workdirective>
                <br>
                <br>
                <educationdirective></educationdirective>
                <br>
                <br>
                <jobsdirective></jobsdirective>
                <!--<br>-->
                <!--<br>-->
                <!--<referencesdirective></referencesdirective>-->

            </div>
        </div>
    </div>
</section>