
<!-- Loader to display before content Load-->
<div class="loading"><img src="img/puff.gif" alt=""></div>



<!-- Add your site or application content here -->

<header class="header-three">
    <!-- nav section -->
    <div class="main-menu nav-tow">
        <div id="rex-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 menu-section">
                        <div class="navigation" role="banner">
                            <div class="navigation-wrapper">

                                <div class="menu-button one-page">Menu</div>
                                <nav>
                                    <ul  id="navigation-menu" data-breakpoint="992" class="flexnav one-page" style="margin-left: 20%;">
                                        <li><a href="#about" data-target="#about" >{{'menu_acerca' | translate}}</a>
                                        <li><a href="#skills" data-target="#skills">{{'menu_habilidades' | translate}}</a></li>
                                        <li><a href="#experience">{{'menu_experiencias' | translate}}</a></li>
                                        <li><a href="#education">{{'menu_educacion' | translate}}</a></li>
                                        <li><a href="#work">{{'menu_trabajos' | translate}}</a></li>
                                        <li>
                                            <a href="" ng-click="lang('es')" class="flag-icon flag-icon-es" style="display: inline-block"></a>
                                            <a href="" ng-click="lang('en')" class="flag-icon flag-icon-us" style="display: inline-block"></a>
                                        </li>
                                        <!--<li><a href="#reference-link">Reference</a></li>-->
                                        <!--<li><a href="#blog">Blog</a></li>-->
                                        <!--<li><a href="#contact">Contact</a></li>-->
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hero">
        <div class="hero-inner">
            <!-- <a href="" class="hero-logo"><img src="img/profile-img.png" alt="Logo Image"></a> -->
            <div class="hero-copy container">
                <div class="col-md-8 col-md-offset-3" style="margin-top: -9%;">
                    <span class="col-md-2 top-title"><sup>Function</sup></span>
                    <div class="header-three-style col-md-10">
                        <h2 class="author-name">Eddie Mejia(){</h2>
                        <h4 class="sub-title"><span id="typeText"></span></h4>
                        <h2 class="author-name">}</h2>
                        <div class="hero-btn">
                            <a class="btn btn-default rex-primary-btn-effect" href="#" role="button">{{'menu_boton_cv' | translate}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>